n8n/cortex-orchestration.json
{
    "name": "CORTEX — Full Orchestration Cycle (Every Hour)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 1
                        }
                    ]
                }
            },
            "id": "schedule-trigger",
            "name": "Every Hour",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://yxzdafptqtcvpsbqkmkm.supabase.co/functions/v1/agent-cortex",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{SUPABASE_ANON_KEY}}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "action",
                            "value": "orchestrate"
                        }
                    ]
                },
                "options": {
                    "timeout": 30000
                }
            },
            "id": "cortex-orchestrate",
            "name": "CORTEX Orchestrate",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.success }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "check-success",
            "name": "Success?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://yxzdafptqtcvpsbqkmkm.supabase.co/functions/v1/agent-sentinel",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{SUPABASE_ANON_KEY}}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "action",
                            "value": "monitor"
                        }
                    ]
                },
                "options": {
                    "timeout": 30000
                }
            },
            "id": "sentinel-monitor",
            "name": "SENTINEL Monitor",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                900,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://yxzdafptqtcvpsbqkmkm.supabase.co/functions/v1/agent-scribe",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{SUPABASE_ANON_KEY}}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "action",
                            "value": "daily_report"
                        }
                    ]
                },
                "options": {
                    "timeout": 30000
                }
            },
            "id": "scribe-report",
            "name": "SCRIBE Report",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                900,
                400
            ]
        },
        {
            "parameters": {},
            "id": "noop-error",
            "name": "Error — Log",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                900,
                600
            ]
        }
    ],
    "connections": {
        "Every Hour": {
            "main": [
                [
                    {
                        "node": "CORTEX Orchestrate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "CORTEX Orchestrate": {
            "main": [
                [
                    {
                        "node": "Success?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Success?": {
            "main": [
                [
                    {
                        "node": "SENTINEL Monitor",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "SCRIBE Report",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Error — Log",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "OCULOPS"
        },
        {
            "name": "CORTEX"
        }
    ]
}