n8n/forge-content-webhook.json
{
    "name": "FORGE — Content Generation (On Webhook)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "forge-content",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook — Forge",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                300
            ],
            "webhookId": "forge-content-gen"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://yxzdafptqtcvpsbqkmkm.supabase.co/functions/v1/agent-forge",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{SUPABASE_ANON_KEY}}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json.body) }}",
                "options": {
                    "timeout": 60000
                }
            },
            "id": "forge-generate",
            "name": "FORGE Generate",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}"
            },
            "id": "respond",
            "name": "Send Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                680,
                300
            ]
        }
    ],
    "connections": {
        "Webhook — Forge": {
            "main": [
                [
                    {
                        "node": "FORGE Generate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "FORGE Generate": {
            "main": [
                [
                    {
                        "node": "Send Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "ANTIGRAVITY"
        },
        {
            "name": "FORGE"
        }
    ]
}