n8n/master-full-cycle.json
{
    "name": "рџ”„ Master Multi-Agent Full Cycle (Daily 7AM)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 7 * * *"
                        }
                    ]
                }
            },
            "id": "cron-7am",
            "name": "Daily 7AM",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                200,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://yxzdafptqtcvpsbqkmkm.supabase.co/functions/v1/agent-atlas",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{SUPABASE_ANON_KEY}}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "action",
                            "value": "scan"
                        }
                    ]
                },
                "options": {
                    "timeout": 60000
                }
            },
            "id": "step1-atlas",
            "name": "в‘  ATLAS Scan",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                440,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://yxzdafptqtcvpsbqkmkm.supabase.co/functions/v1/agent-hunter",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{SUPABASE_ANON_KEY}}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "action",
                            "value": "qualify"
                        }
                    ]
                },
                "options": {
                    "timeout": 60000
                }
            },
            "id": "step2-hunter",
            "name": "в‘Ў HUNTER Qualify",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                680,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://yxzdafptqtcvpsbqkmkm.supabase.co/functions/v1/agent-oracle",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{SUPABASE_ANON_KEY}}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "action",
                            "value": "analyze"
                        }
                    ]
                },
                "options": {
                    "timeout": 120000
                }
            },
            "id": "step3-oracle",
            "name": "в‘ў ORACLE Analyze",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                920,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://yxzdafptqtcvpsbqkmkm.supabase.co/functions/v1/agent-sentinel",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{SUPABASE_ANON_KEY}}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "action",
                            "value": "monitor"
                        }
                    ]
                },
                "options": {
                    "timeout": 30000
                }
            },
            "id": "step4-sentinel",
            "name": "в‘Ј SENTINEL Monitor",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1160,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://yxzdafptqtcvpsbqkmkm.supabase.co/functions/v1/agent-forge",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{SUPABASE_ANON_KEY}}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"action\":\"generate\",\"content_type\":\"social_post\",\"topic\":\"daily AI insight\",\"audience\":\"pymes_murcia\"}",
                "options": {
                    "timeout": 60000
                }
            },
            "id": "step5-forge",
            "name": "в‘¤ FORGE Content",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1160,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://yxzdafptqtcvpsbqkmkm.supabase.co/functions/v1/agent-scribe",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{SUPABASE_ANON_KEY}}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "action",
                            "value": "daily_report"
                        }
                    ]
                },
                "options": {
                    "timeout": 60000
                }
            },
            "id": "step6-scribe",
            "name": "в‘Ґ SCRIBE Report",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1400,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://yxzdafptqtcvpsbqkmkm.supabase.co/functions/v1/agent-cortex",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{SUPABASE_ANON_KEY}}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "action",
                            "value": "orchestrate"
                        }
                    ]
                },
                "options": {
                    "timeout": 30000
                }
            },
            "id": "step7-cortex",
            "name": "в‘¦ CORTEX Synthesize",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1640,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "// Compile all agent results into a readable daily report\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('es-ES', { weekday:'long', year:'numeric', month:'long', day:'numeric' });\nconst timeStr = now.toLocaleTimeString('es-ES');\n\n// Gather results from previous nodes (they're all in the chain)\nconst atlas = $('в‘  ATLAS Scan').first().json;\nconst hunter = $('в‘Ў HUNTER Qualify').first().json;\nconst oracle = $('в‘ў ORACLE Analyze').first().json;\nconst scribe = $('в‘Ґ SCRIBE Report').first().json;\nconst cortex = $('в‘¦ CORTEX Synthesize').first().json;\n\nlet atlasAnalysis = '';\ntry {\n  const parsed = JSON.parse(atlas?.result?.ai_analysis || '{}');\n  atlasAnalysis = parsed.summary || atlas?.result?.ai_analysis || 'No AI analysis available';\n} catch(e) {\n  atlasAnalysis = atlas?.result?.ai_analysis || 'No analysis';\n}\n\nconst report = `\nв•”в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•—\nв•‘           OCULOPS OS вЂ” DAILY INTELLIGENCE REPORT         в•‘\nв•љв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ќ\n\nFecha: ${dateStr}\nHora de generaciГіn: ${timeStr}\nGenerado por: CORTEX Multi-Agent System\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nв‘  ATLAS вЂ” INTELIGENCIA DE MERCADO\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nEstado: ${atlas?.success ? 'вњ… COMPLETADO' : 'вќЊ ERROR'}\nSeГ±ales activas: ${atlas?.result?.signals_count ?? 'N/A'}\nNichos monitorizados: ${atlas?.result?.niches_count ?? 'N/A'}\nOpenAI activo: ${atlas?.result?.openai_configured ? 'SГ­' : 'No'}\nDuraciГіn: ${atlas?.duration_ms ?? 0}ms\n\nAnГЎlisis IA:\n${atlasAnalysis}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nв‘Ў HUNTER вЂ” CALIFICACIГ“N DE LEADS\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nEstado: ${hunter?.success ? 'вњ… COMPLETADO' : 'вќЊ ERROR'}\nLeads raw encontrados: ${hunter?.result?.raw_leads_found ?? 0}\nContactos procesados: ${hunter?.result?.raw_contacts ?? 0}\nLeads puntuados: ${hunter?.result?.leads_scored ?? 0}\nAuto-promovidos: ${hunter?.result?.auto_promoted ?? 0}\nDuraciГіn: ${hunter?.duration_ms ?? 0}ms\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nв‘ў ORACLE вЂ” ANALГЌTICAS\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nEstado: ${oracle?.success ? 'вњ… COMPLETADO' : 'вќЊ ERROR'}\nDuraciГіn: ${oracle?.duration_ms ?? 0}ms\n${JSON.stringify(oracle?.result ?? {}, null, 2)}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nв‘Ґ SCRIBE вЂ” INFORME DIARIO\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nEstado: ${scribe?.success ? 'вњ… COMPLETADO' : 'вќЊ ERROR'}\nDuraciГіn: ${scribe?.duration_ms ?? 0}ms\n${JSON.stringify(scribe?.result ?? {}, null, 2)}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nв‘¦ CORTEX вЂ” SГЌNTESIS FINAL\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nEstado: ${cortex?.success ? 'вњ… COMPLETADO' : 'вќЊ ERROR'}\nDuraciГіn: ${cortex?.duration_ms ?? 0}ms\n${JSON.stringify(cortex?.result ?? {}, null, 2)}\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nрџ¤– OCULOPS OS вЂ” Sistema de Inteligencia EstratГ©gica v11\n   rotprods.app.n8n.cloud | yxzdafptqtcvpsbqkmkm.supabase.co\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n`.trim();\n\nconst filename = `OCULOPS_Report_${now.toISOString().split('T')[0]}.txt`;\n\nreturn [{ json: { report, filename, date: now.toISOString() } }];"
            },
            "id": "compile-report",
            "name": "рџ“„ Compile Report",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1880,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://yxzdafptqtcvpsbqkmkm.supabase.co/rest/v1/knowledge_entries",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "{{SUPABASE_ANON_KEY}}"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{SUPABASE_ANON_KEY}}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\"title\": \"Daily Report вЂ” \" + new Date().toISOString().split('T')[0], \"content\": $json.report, \"category\": \"reports\", \"type\": \"daily_report\", \"source\": \"n8n-master-cycle\", \"tags\": [\"daily\", \"report\", \"auto\", \"cortex\"]}",
                "options": {}
            },
            "id": "save-to-app",
            "name": "рџ’ѕ Save to App",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2120,
                300
            ]
        },
        {
            "parameters": {
                "sendTo": "rot.prods@gmail.com",
                "subject": "=рџ¤– OCULOPS OS вЂ” Daily Report {{ new Date().toISOString().split('T')[0] }}",
                "emailType": "text",
                "message": "={{ $('рџ“„ Compile Report').first().json.report }}",
                "options": {
                    "attachmentsUi": {
                        "attachmentsBinary": []
                    }
                }
            },
            "id": "send-email",
            "name": "рџ“§ Email Report",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                2120,
                500
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "",
                    "name": "Gmail OCULOPS"
                }
            }
        }
    ],
    "connections": {
        "Daily 7AM": {
            "main": [
                [
                    {
                        "node": "в‘  ATLAS Scan",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "в‘  ATLAS Scan": {
            "main": [
                [
                    {
                        "node": "в‘Ў HUNTER Qualify",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "в‘Ў HUNTER Qualify": {
            "main": [
                [
                    {
                        "node": "в‘ў ORACLE Analyze",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "в‘ў ORACLE Analyze": {
            "main": [
                [
                    {
                        "node": "в‘Ј SENTINEL Monitor",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "в‘¤ FORGE Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "в‘Ј SENTINEL Monitor": {
            "main": [
                [
                    {
                        "node": "в‘Ґ SCRIBE Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "в‘¤ FORGE Content": {
            "main": [
                [
                    {
                        "node": "в‘Ґ SCRIBE Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "в‘Ґ SCRIBE Report": {
            "main": [
                [
                    {
                        "node": "в‘¦ CORTEX Synthesize",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "в‘¦ CORTEX Synthesize": {
            "main": [
                [
                    {
                        "node": "рџ“„ Compile Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "рџ“„ Compile Report": {
            "main": [
                [
                    {
                        "node": "рџ’ѕ Save to App",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "рџ“§ Email Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "OCULOPS"
        },
        {
            "name": "MASTER"
        },
        {
            "name": "FULL-CYCLE"
        }
    ]
}