n8n/social-content-factory.json
{
    "name": "📱 AI Social Media Content Factory (Multi-Platform)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 9 * * 1,3,5"
                        }
                    ]
                }
            },
            "id": "schedule-mwf",
            "name": "Mon/Wed/Fri 9AM",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.openai.com/v1/chat/completions",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{OPENAI_API_KEY}}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un community manager experto para una agencia de IA y marketing digital premium en Murcia, España llamada OCULOPS. Genera contenido profesional, innovador y que genere engagement. Responde SOLO con JSON válido.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Genera contenido para hoy. Crea un JSON con:\\n1. linkedin_post: {text, hashtags[]}\\n2. instagram_post: {caption, hashtags[], suggested_image_prompt}\\n3. twitter_post: {text, hashtags[]}\\n4. tiktok_idea: {concept, script_outline, hook}\\n\\nTemas sugeridos: automatización con IA, casos de éxito, tips de marketing digital, tendencias tech, productividad empresarial.\\n\\nJSON válido solamente.\"\n    }\n  ],\n  \"temperature\": 0.85,\n  \"max_tokens\": 1200\n}",
                "options": {
                    "timeout": 30000
                }
            },
            "id": "generate-content",
            "name": "GPT Generate Content",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                480,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://yxzdafptqtcvpsbqkmkm.supabase.co/rest/v1/knowledge_entries",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "{{SUPABASE_ANON_KEY}}"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{SUPABASE_ANON_KEY}}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"title\": \"Social Content — {{ new Date().toISOString().split('T')[0] }}\",\n  \"content\": {{ JSON.stringify($json.choices[0].message.content) }},\n  \"category\": \"content\",\n  \"type\": \"ai_generated\",\n  \"source\": \"n8n-social-factory\",\n  \"tags\": [\"social\", \"content\", \"auto\", \"linkedin\", \"instagram\", \"twitter\", \"tiktok\"]\n}",
                "options": {}
            },
            "id": "save-content",
            "name": "Save to Knowledge Base",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                740,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://yxzdafptqtcvpsbqkmkm.supabase.co/rest/v1/tasks",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "{{SUPABASE_ANON_KEY}}"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{SUPABASE_ANON_KEY}}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"title\": \"📱 Publicar contenido social — {{ new Date().toISOString().split('T')[0] }}\",\n  \"description\": \"Contenido generado por IA listo para publicar en LinkedIn, Instagram, Twitter y TikTok\",\n  \"status\": \"pending\",\n  \"priority\": \"high\",\n  \"category\": \"marketing\"\n}",
                "options": {}
            },
            "id": "create-task",
            "name": "Create Publish Task",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                740,
                500
            ]
        }
    ],
    "connections": {
        "Mon/Wed/Fri 9AM": {
            "main": [
                [
                    {
                        "node": "GPT Generate Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GPT Generate Content": {
            "main": [
                [
                    {
                        "node": "Save to Knowledge Base",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Create Publish Task",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "OCULOPS"
        },
        {
            "name": "SOCIAL"
        },
        {
            "name": "CONTENT"
        }
    ]
}